<%= form_with(model: products_per_order, url: order_products_per_orders_path(params[:id]), local: true) do |form| %>


  <% if products_per_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(products_per_order.errors.count, "error") %> prohibited this products_per_order from being saved:</h2>

      <ul>
      <% products_per_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
<%=  hidden_field(:products_per_order, :order_id, :value => params[:id]) %>
<%= form.label :Select_An_Item %>
<select class="field" name ="products_per_order[product_id]">
<%= options_from_collection_for_select(Product.all, :id, :name) %>
</select>

    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <button>Add to Order</button>

<% end %>
