<%= form_with(model: order, local: true, id: 'order_form') do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<center><p>
  <strong> Order <%= @order.id %></strong>

</p></center>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :shipped_on %>
    <%= form.date_select :shipped_on %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.text_field :total_price, :disabled => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>