<p id="notice"><%= notice %></p>

<style>
span.tab{
    padding: 0 80px; /* Or desired space*/
}

</style>
<center>
<table style="width:85%">
  <tr><th>############################################</th></tr>
  <tr><th><center>Order OverView" </center></th></tr>
  <tr><th>############################################</th></tr>
</table>
<%   @orders.each do |o| 
       if (o.id == @top_order) %>
       <font color="goldenrod">
       <table style="width:85%">
        <tr><th>############################################</th></tr>
        <tr><th><center> This Order Made the most in Sales</center></th></tr>
      <% else %>
        <br>
        <table style="width:85%">
        <tr><th>############################################</th></tr>
      <% end%>

      <tr><th><center><%= link_to "Order #{o.id}", order_path(o.id) %></center></th></tr>
      <tr><th><center>Address <%= o.address %></center></th></tr>
      <tr><th><center>Shipped On <%= o.shipped_on %></center></th></tr>
      </table>
      <table>
      <tr>
        <th>Item</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>

<%      o.products_per_orders.each do |ppo|
%>
        <tr>
          <td>Product: <%= link_to ppo.product.name, product_path(ppo.product_id)%></td>
          <td><%=ppo.unit_price%></td>
          <td><%=ppo.quantity%></td>
          <td><%=(ppo.unit_price * ppo.quantity)%></td>
        </tr>
        <% end %>

        <tr>
          <td>Total:</td>
          <td></td>
          <td></td>
          <td><%=o.total_price%></td>
        </tr>
        <tr> 
          <td><%= link_to 'Show this Order', o %></td>
          <td><%= link_to 'Edit this Order', edit_order_path(o) %></td>
          <td><%= link_to 'Destroy this Order', o, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </table>
    <table style="width:85%">
        <tr><th>############################################</th></tr>
      </table>
          <% if (o.id == @top_order) %>
        </font>
      <% end %>
     <% end %>
   </table>
   </center>

<%= link_to 'New Order', new_order_path %>
