<p id="notice"><%= notice %></p>
<center><p>
  <strong> Order <%= params[:id] %></strong>

</p></center>
<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Shipped on:</strong>
  <%= @order.shipped_on %>
</p>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price At Order</th>
      <th>Quantity</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
    <% @order.products_per_orders.each do |products_per_order| %>
      <tr>
        <td><%= link_to products_per_order.product.name , products_per_order.product %></td>
        <td><%= products_per_order.unit_price %></td>
        <td><%= products_per_order.quantity %></td>
        <td><%= products_per_order.unit_price * products_per_order.quantity %></td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total:</strong></td>
      <td colspan="2"></td>
      <td><%= @order.total_price %></td>
    </tr>
</tbody>
</table>
<p>
  <strong>Total:</strong>
  <%= @order.total_price %>
</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
