<p id="notice"><%= notice %></p>
<center><p>
  <strong> Order <%= params[:id] %></strong>

</p></center>
<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Shipped on:</strong>
  <%= @order.shipped_on %>
</p>
<p>
  <strong>
  <%= link_to "Products For This Order" , order_products_per_orders_path(params[:id]) %>
  </strong>
</p>
<p>
  <strong>Total:</strong>
  <%= @order.total_price %>
</p>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
